/*滚动条样式*/
::-webkit-scrollbar{
	width:7px;
}
::-webkit-scrollbar-thumb {
	background:rgba(220,220,220,0.3);
}



#index_click{
	float:right;
	margin-right:60px;
	margin-top:15px;
	width:220px;
	height:40px;
	cursor: pointer;
	background-color: rgba(255,255,255,0.1);
	border-radius: 3px;
	transition: box-shadow, 0.1s;
	transform: skew(-10deg);
}
#index_click:hover{
	box-shadow: 0 0 3px rgba(255,255,255,0.5);
}
#index_click:active{
	background-color: rgba(255,255,255,0.2);
}

#index_click .click_img{
	float: left;
	margin-top:4px;
	margin-left:45px;
	width:30px;
	height:30px;
	background: url('.././img/indexcheck.png') no-repeat;
	background-size: cover;
}
#index_click .click_text{
	float: right;
	margin-top: 4px;
	margin-right:45px;
	color:#FFF;
	width:80px;
	height:30px;
	line-height:30px;
	font-size: 20px;
	font-family: "微软雅黑";
	font-weight:bold; 
	user-select: none;
}

#index{
	display: none; 
	color: #fff;
	height:560px;
	width:900px;
	overflow: auto;
}
#index li{
	display: block;
	height:40px;	
	font-family: "微软雅黑";
	font-weight:bold;
	font-size: 20px;
	line-height: 55px;
	user-select: none;
	padding:10px 20px ;
	border-bottom: 2px solid rgba(162, 157, 157, 0.28);
	margin:0 20px;
}
#index li span{
	float:right;
	font-family: "IMPACT";
	font-style: italic; 
}
.index_title{
	display: none;
	color: #FFF;
	font-size: 40px;
	font-family: "微软雅黑";
	font-weight: bold;
	border-bottom: 2px solid rgba(220,220,220,0.6);
	padding:20px 20px ;
	height:50px;
	user-select: none;
}

#dis{
	display: none;
	margin:0 auto;
	margin-top:85px;
	height:750px; 
	width:900px; 
	background: rgba(0,0,0,0.4);
	 /*display: none; */
	 transition: width, 0.2s;
	 border-radius: 5px;
	 box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	 animation-duration: 0.2s;
}


#page{
	height:40px;
	/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);*/
	border-radius: 10px;
}
#page li{
	float:left;
	color:#FFF;	
	width:40px;
	height:40px;
	font-size:20px;
	font-family: "微软雅黑";
	font-weight:bold;
	text-indent: 13px;
	line-height:40px;
	user-select: none;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#page li:hover{
	background:rgba(255,255,255,0.1);
}
#page li:active{
	background-color: rgba(255,255,255,0.2);
}
#pre{
	display: inline-block;
	border-radius: 10px 0 0 10px ;
}
#next{
	display: inline-block;
	border-right:none!important;
	border-radius: 0 10px 10px 0;
}

#pre, #next{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	width:40px!important;
	font-family: "微软雅黑";
	color: #FFF;
	height:40px;
	font-size:30px!important;
	text-indent: 10px!important;
	line-height:37px!important;
	user-select: none;
	cursor: pointer;
}
#next:hover{
	background:rgba(255,255,255,0.1);
}
#next:active{
	background-color: rgba(255,255,255,0.2);
}
#pre:hover{
	background:rgba(255,255,255,0.1);
}
#pre:active{
	background-color: rgba(255,255,255,0.2);
}


.page_body{
	display: none;
	float:right;
	height:40px;
	margin-top: 30px;
	border-radius: 10px;
	margin-right: 50px;
}
.page_body #pre{
	float: left;
}
.page_body #page{
	float: left;
}
.page_body #next{
	float: left;
}



#back{
	display: inline-block;
	float: right;
	font-size:20px; 
	width:130px;
	height:40px;
	text-align: right;
	padding-right:40px;
	background-color: rgba(255,255,255,0.1);
	line-height:38px;
	/*transform: skew(-10deg);*/
	transition: box-shadow, 0.1s;
	border-radius: 5px;
	cursor: pointer;
}
#back:hover{
	box-shadow: 0 0 3px rgba(255,255,255,0.5);
}
#back:active{
	background-color: rgba(255,255,255,0.2);
}

