

.recharge_Body{
	display: none;
	width:900px;
	height:800px;
	margin:0 auto;
	margin-top: 30px;
	background: url(".././img/BgShopShapes.png");
	background-size: 80%;
	border-radius: 6px;
/*    	border: 2px solid rgba(190,185,185,0.5);*/
    	box-shadow: 0 0 20px rgba(255, 255, 255, 0.24);/*0 0 10px rgba(97,97,97,0.8);*/
/*    	opacity:0.8;*/
	animation-duration: 0.3s;

}
.recharge_Body ul{
	width: 900px;
	height:350px;
/*	border: 1px solid #fff;*/
}

.recharge_Body ul li{
	display: inline-block;
	width:170px;
	height:300px;
	margin-left:40px;
	margin-top:22px;
	box-shadow: 0 0 10px rgba(116, 109, 109, 0.46);
/*	border: 1px solid rgba(190,185,185,0.15);*/
	background: rgba(242,242,242,0.1);
	border-radius: 5px;
	transition: box-shadow 0.3s,background 0.1s,border 0.1s;
}
.lineBI{
	width:170px;
	height:80px;
	background: url(".././img/SpriteAtlas.png");
	background-size: cover;

}
.lineBT{
	display: inline-block;
	width:170px;
	height:50px;
	background: rgba(234,237,247,0.95);
	border-radius: 0 0 5px 5px;
	box-shadow: 0 0 5px #f4f5f9;
	font-size:27px;
	font-family: "IMPACT";
	text-indent:75px;
	line-height: 50px;
	user-select: none;
}
.BT{
	text-indent:22px !important;
	font-family: "微软雅黑";
	font-weight:bold!important;

}

.ice_point{
	margin:0 auto;	
}
.ice_point1{
	width:130px;
	height:120px;
	margin-top:50px;
	margin-left:30px!important;
	background: url(".././img/ice/ice6.png") no-repeat;
	background-size: 80%;
}
.ice_point2{
	width:140px;
	height:110px;
	margin-top:60px;
	background:url(".././img/ice/ice30.png") no-repeat;
	background-size: 90%;
}
.ice_point3{
	width:140px;
	height:120px;
	margin-top: 50px;
	background: url(".././img/ice/ice128.png") no-repeat;
	background-size:100% ;
}
.ice_point4{
	width:140px;
	height:120px;
	margin-top: 50px;
	background: url(".././img/ice/ice328.png") no-repeat;
	background-size:100% ;
}
.ice_point5{
	width:140px;
	height:120px;
	margin-top: 50px;
	background: url(".././img/ice/ice648.png") no-repeat;
	background-size:100% ;
}
.ice_point6{
	width:30px;
	height:120px;
	margin-top: 50px;
	background-size:100% ;
	font-size: 30px;
	font-family: "微软雅黑";
	font-weight:bold;
}
.BT6{
	font-size: 25px!important;
}
.lineOne{
	box-shadow: 0 5px 20px rgba(54,51,51,0.30);
}

.foot{
	width:900px;
	height:100px;
	margin:0 auto;
	box-shadow: 0 -5px 20px rgba(54,51,51,0.30);
}
#foot_text{
	display: block;
	float: left;
	height:50px;
	margin-top: 25px;
	margin-left:40px;
	font-size: 30px;
	font-weight: bold;
	font-family:"微软雅黑";
	letter-spacing: 1px;
	color: #f2f2f2;
	text-shadow: 0 0 8px #000;
	user-select: none;
	display: none;
}
#foot_button{
	display: block;
	float:right;
	width:220px;
	height:50px;
	background:#fae267; 
	border: 1px solid #fae267;
	box-shadow: 0 0 4px #fae267;
	margin-right:50px;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 25px;
	font-weight: bold;
	font-family:"微软雅黑";
	font-size: 25px;
	text-indent:30px;
	line-height: 45px;
	transition: background-color 0.1s;
	user-select:none;
}
#foot_button:hover{
	background-color: #fdeb8e; 
}
#foot_button:active{
	background-color: #FFF; 
}

.lineBI_img{
	width:50px;
	height:50px;
	margin-top:30px;
	margin-left:40px; 
	display: block;
	float: left;
	background: url(".././img/HCoin.png") no-repeat;
	background-size: 80%;
}
.lineBI_text{
	display: block;
	margin-top:40px;
	margin-right:10px;
	float: right;
	width:70px;
	height:30px;
	font-size: 20px;
	font-family: "IMPACT";
	font-weight: bold;
	color:#FFF;
	text-shadow: 0 0 5px #000;
	user-select: none;
}



#label1:hover{
	box-shadow:0 0 80px rgba(102, 90, 90, 0.66);
}
#label2:hover{
	box-shadow:0 0 80px rgba(102, 90, 90, 0.66);
}
#label3:hover{
	box-shadow:0 0 80px rgba(102, 90, 90, 0.66);
}
#label4:hover{
	box-shadow:0 0 80px rgba(102, 90, 90, 0.66);
}
#label5:hover{
	box-shadow:0 0 80px rgba(102, 90, 90, 0.66);
}
#label6:hover{
	box-shadow:0 0 80px rgba(102, 90, 90, 0.66);
}

#label7{
	display: inline-block;
	width:385px;
	height:300px;
	cursor: pointer;
	transition: box-shadow,0.3;
}
#label7:hover{
	box-shadow:0 0 80px rgba(102, 90, 90, 0.66);
}


/*#label1:active{
	background: rgba(255,255,255,0.5);
	border:5px solid #FFF;
}*/
.ice_add{
	width:50px;
	height:50px;
	background: url(".././img/add.png");
	background-size: cover;
	float:right;
	margin-top:-37px;
	margin-right:-15px;
}

